.img__container{
  display: flex;
  justify-content: center;
  margin:20px;
}
.main-frame{
  display:flex;
  .layout_container{
    box-shadow: var(--shadow);
    background-color: white ;
    display: flex;
    flex-direction: column;
    height: 100hv;
    // border-radius: 30px;
  }
}
.active {
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 1s;
  background: #5932ea;
  color: white !important;
  fill:white!important;
  stroke: white!important;
}
.common {
  color: #9197b3;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
  .btn {
    display: flex;

    justify-content: flex-start;
    border: none;
    align-items: center;
    padding: 5px 60px;
    width: 50%;
    margin: 10px;
    border-radius: 8px;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.01em;
  }
}

.account_block{
  display: flex;
  justify-content: space-between;
  background-color: #F8FAFE;
  border-radius: 30px;
  align-items: center;
  margin: 20px;
  .account_left_side{
    display: flex;
    align-items: center;
    line-height: 1px;
    .account_text{
    }
  }
}