@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.main_container{
    
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.container_dashboard{
    font-family: Poppins, sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    width: 90%;

    .header_dashboard{
        width: 100%;
        margin-top: 41px;
        margin-bottom: 24px;
        margin-right: 50px;

        font-size: 24px;
        font-weight: 500;
        background-color: #f8fafe;
    }

    .earnig_dashboard{
        display: flex;

        width: 100%;
        border-radius: 30px;
        justify-content: space-evenly;
        background-color: #ffffff;

        .earning_item{
            display: flex;
            
            margin-top: 32px;
            margin-bottom: 35px;
            max-height: 84px;

            .earning_content{
                display: flex;
                flex-direction: column;
                padding-left: 20px;
            }
            
            .earning_number{
                color:#333333;
                font-size: 34px;
                font-weight: 600;
            }
            .earning_mount{
                display: flex;
                align-items: center;
                font-weight: 400;
                font-size: 12px;
            }
            .procent_green{
                font-weight: 700;
                color: #00AC4F;
            }
            .procent_red{
                font-weight: 700;
                color: #D0004B;
            }
        }

        .earnig_item_logo{

            padding: 21px;
            border-radius: 50%;
            
        }
        .green{
            background: linear-gradient(201.18deg, #c9ffe1 3.14%, #EFFFF6 86.04%);
        }
        .blue{
            background: linear-gradient(201.18deg, #CAF1FF 3.14%, #CDF4FF 86.04%);
        }
        .red{
            background: linear-gradient(201.18deg, #FFA3CF 3.14%, #FFD5F3 86.04%);
        }
    }
    .earning_title{
        font-weight: 400;
        font-size: 14px;
        color: #ACACAC;
    }
// Second block
    .second_block_container{
        display: flex;
    }

    .overview_container{
        margin-top: 20px;
        width: 628px;
        height: 378px;
        background-color: #FFFFFF;
        border-radius: 30px;
        line-height: 0px;

        .overview_top{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding-top: 20px;
            
            
            .overview_top_text{
                color: #ACACAC;
                font-size: 14px;
                padding-left: 35px;
                
                h1{
                    font-size: 25px;
                    font-weight: 600;
                    color: black;
                    line-height: 33px;
                }
            }
            .overview_top_button{
                display: flex;

                justify-content: center;
                align-items: center;

                font-size: 14px;
                font-weight: 400;
                color: #7E7E7E;

                margin-right: 35px;
                background-color: #F9FBFF;
                height: 38px;
                width: 118px;
                border-radius: 10px;
                
                span{
                    padding-right: 18px;
                }
            }
        }
        .overview_grafic{
            display: flex;
            flex-direction: row;
            justify-content: center;

            .stats_div{
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-start;
                align-items: flex-start;
                height: 255px;
                
                width: 45px;
                .stats_mouth{
                    display: flex;

                    justify-content: center;
                    width: 31px;
                    margin-top: 10px;
                    font-size: 10px;
                    font-weight: 500;
                    color: #4F4F4F;
                    font-style: normal;
                }
                .stats_stolb{
                    background-color: #F2EFFF;
                    border-radius: 8px;
                    width: 31px;
                    height: 111px;
                }
            }
        }
    }

}

// @media only screen and (max-width: 600px) {
//     .container_dashboard{
//         flex-wrap: nowrap;
//     }
//   }