:root {
    --shadow: 0px 0px 13px -5px rgba(66, 68, 90, 1);
}
input,
button,
textarea,
select {
font: inherit;
}

.shop_container{
    box-shadow: var(--shadow);
    margin-top: 38px;
    border-radius: 30px;
    background: #ffffff;
    height: 50%;
    padding: 48px;
    padding-top: 20px;
}
.shop_menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
    h2{
        width: 20%;
        font-weight: 600;
        font-size: 24px;
    }
}
.shop_search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    div{
        background: #F9FBFF;
        border-radius: 30px;
        width: 216px;
        display: flex;
        align-items: center;
        padding-left: 5px;
        padding-right: 5px;
        img{
            width: 30px;
            height: 30px;
        }  
    }
    .nav_shop{
        display: flex;
        justify-content: flex-start;
        padding-right: 20px;
    }
    input{
        height: 48px;
        border: 0px;
        background-color: rgba(255, 0, 0, 0);
        border-radius: 20px;
    }
    select {
        padding: 10px;
        height: 50px;
        background: #F9FBFF;
        border: 0px solid #F9FBFF;
        border-radius: 20px;

    }
}
.shop_store_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .PName{
        flex-grow: 5;
    }
    .SPT{
        flex-grow: 1;
    }
}